@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
   --background-primary: #333333;
   --background-secondary: #4f4f4f;
   --background-tertiary: #6e6e6e;
   --text-dark: #1f1f1f;
   --text-light: #f2f2f2;
   --status-green: #94BD96;
   --status-red: #C84848;
   --status-blue: #6B8BFF;
   --status-yellow: #FFD65C;
   --gold: #ffde69;
   --blue: #4670ab;
}

* {
   font-family: 'Poppins', sans-serif !important;
}