body {
   background-color: var(--background-primary) !important;
   color: var(--text-light) !important;
   margin: 0 !important;

   display: flex;
   flex-direction: column;
   align-items: center;
}

/* navigation bar */
#reg-nav-bar {
   margin-top: 10px !important;

   border-radius: 300px;

   background-color: var(--gold) !important;
}
#reg-nav-bar a {
   color: var(--text-dark) !important;
   background-color: transparent !important; /* get rid of hover background */
}
#reg-nav-bar a:hover {
   color: var(--blue) !important;
}

/* main "schedule of classes" title */
h1 {
   background-color: var(--background-primary) !important;
   color: var(--gold) !important;
}

/* warning at top of page, date & contact links */
body > font, #date-now, #contact-date a {
   color: var(--text-light) !important;
}

/* main form */
body > form {
   /* center the buttons rows & entry table */
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* main table */
form > table td {
   padding: 2px;
   font-size: var(--font-size-main) !important;
}

/* entry labels on far left column */
form td:nth-child(2) {
   background-color: var(--background-primary);
   text-align: right;
}
form td:nth-child(2) font, form td:nth-child(2) a {
   color: var(--text-light) !important;
   font-size: var(--font-size-main) !important;
}

/* example entries */
form td:nth-child(3) font, form td:nth-child(3) a {
   color: var(--blue) !important;
}

/* make buttons a lil nicer ! */
.banner-width > input, .banner-width > a, table select, table input {
   border: none !important;
   padding: 6px 8px 6px 8px;
   border-radius: 300px;

   font-size: var(--font-size-main) !important;

   /* styling the reset button */
   text-decoration: none;

   cursor: pointer;

   /* really only for .banner-width buttons */
   transition: .3s opacity;
}
/* make da first button pretty ! */
.banner-width > input:first-child {
   background-color: var(--gold) !important;
   color: var(--text-dark) !important;
}
/* hover for buttons */
.banner-width > input:hover, .banner-width > a:hover {
   opacity: .7;
}

select, table input, .banner-width > a, .banner-width > input {
   background-color: var(--background-secondary) !important;
   color: var(--text-light) !important;
}

/* bottom bit of info & footer */
body > p a, #contact-footer a {
   color: var(--blue) !important;
}
/* footer */
#contact-footer {
   background-color: var(--background-secondary) !important;
}

/* asterisks */
font[color="red"] {
   color: var(--status-red);
}
